

.main1{background-color: #1F2937; display: flex; flex-direction: column;}

.main2{display: flex; flex-direction: column; align-items: center;}

.main3{background-color: #e5e7eb;}

.container1{display: flex; justify-content: space-evenly;}

.container2{display: flex; justify-content: center;}

.title{font-size: 48px; font-weight: bold; color: #f9faf8; margin: 0}

a{font-size: 18px; color: #e5e7eb;}

ul{list-style-type: none;}

.img1{width: 400px; height: auto; margin-left: 50px}

.img2{ width: 100px; height: 100px}

.des{display: flex; gap: 20px}

.con{display: flex;}

h3{font-size: 24px; color: #f9faf8;}

button{background-color: #3882f6; width: 100px; height: 50px}

h2{font-size: 36px; font-weight: bold; color: #1F2937 }

.quotetext{font-size: 36px; font-style: italic; font-weight: light; color: #1F2937}

.col{display: flex; gap: 100px}

.footer{display: flex; justify-content: center; background-color: #1F2937; color: white}